
body {
	margin: 0 auto;
	background-color: #f0d337;


}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 60px;
	font-style: italic;
	color: #4da9ba;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #4da9ba;
	text-align: center;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: white;
	text-align: center;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 40px;
	font-style: italic;
	color: #f0d337;
	text-align: right;
	letter-spacing: 5px;
	padding-right: 20px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #e02142;
	text-align: center;
	text-decoration: none;
	
}

p.txtContacto {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: white;
	text-align: center;
	text-decoration: none;

	display: inline-block;
	width: 30%;
	text-align: left;
	
}

p.txtDiscos {
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	text-decoration: none;
}

p.txtDiscos ul li {
	list-style: none;
	text-decoration: none;
}


ul li {
	text-decoration: none;
	list-style: none;
}



#botoneraNav {
	width: 100%;
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
	display: block;
}



#logo {
	float: left;
	display: inline-block;
	
}
 


#logo:hover {
	float: left;
	display: inline-block;
}
 


.botonera {
	width: 70%;
	height: 60px;	
	margin: 0 auto;
	padding: 0px;
	text-align: right;
} 

ul.botonera li  {
	display: inline-block; 
	
}

ul.botonera li a.botoneraPrincipal {
	font-family: 'Monoton', cursive;
	font-size: 25px;
	text-decoration: none;
	display: inline-block;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color: #e02142; 	
}


ul.botonera li a.botoneraPrincipal:hover {
	color: #4da9ba;
}




/* BOTONERA SUB MENU */
.botSubMenu {
	position: relative;
	display: inline-block;
	text-align: left;

}



#subMenu {
	display: none;
	position: absolute;
	z-index: 100;
	background-color: #f0d337;
	padding-right: 30px;
	padding-left: 20px;
}


.botSubMenu:hover #subMenu {
	display: block;
}


#subMenu .botoneraSecundariaSubMenu {
	font-family: 'Monoton', cursive;
	font-size: 25px;
	text-decoration: none;
	display: inline-block;
	color: #e02142;
	border-bottom: 2px dotted #e02142;
	

}

#subMenu .botoneraSecundariaSubMenu:hover {
	color: #4da9ba;
}


#info {
	width: 100%;
	margin: 0 auto;
}


 section#info #imgPortadaHome  {
	background-image: url(img/portada.jpg);
	background-size: cover;
	width: 100%;
	padding-top: 18%;
	padding-bottom: 18%;
	margin: 0 auto 60px auto;
	text-align: center;
	position: relative;
}


section#info #imgPortadaHome #txtRhcp {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;

	font-size: 200px;
	color: #f0d337;
	text-align: left;
	font-style: italic;

	position: absolute;
	bottom: 2%;
	left: 10%;
	z-index: 1000;
}



#historiaBanda {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;

	padding-top: 30px;
}

#historiaBanda p {
	text-align: justify;
	/* columns: 2;
	column-gap: 45px;
	 */
}

#biografia {
	flex-grow: 2;
	padding-left: 30px;

	/* width: 60%; */
}

#biografia > p {
	margin: 0;
}

#fotoBio {
	flex-grow: 1;
	/* width: 20%; */
}





section#integrantes {
	width: 80%;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}


section#integrantes .musico {
	width: calc(25% - 15px);
	padding: 0 10px 10px 0;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}






.fotoMusicoUno:hover {
	border: 12px solid #4da9ba;
}

.fotoMusicoDos:hover {
	border: 12px solid #4da9ba;
}


.fotoMusicoTres:hover {
	border: 12px solid #4da9ba;
}


.fotoMusicoCuatro:hover {
	border: 12px solid #4da9ba;
}



#contenedorFotos {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
	justify-content: center;

}

#subContenedorFotos img {
	width:100%;	
	align-items: stretch;
	align-content: space-around;
}



#subContenedorFotos {
	flex: 1 1 25%;
}


video {
	max-width: 100%;
	position: relative;
}


#videoMedia {
	width: 100%;
	margin-top: 100px;
	text-align: center;
}

#subContenedorVideos {
	width: 50%;
	text-align: center;
	float: left;

}


.fotoMedia {
	text-align: center;
}


section.tab{
	display: block; 
	padding-top: 50px;

}

table {
	width: 80%;
	margin: 0 auto;
}


table tr td {
	width: 20%;
}


/* ESTILOS LINEAS DE FILAS DE LAS CATEGORIAS DE LOS DISCOS */

section.tab table caption {
	border-bottom: 2px solid #4da9ba;
}

section.tab table tr td {
	border-bottom: 2px solid #4da9ba;

}




/* EFECTO SOMBRAS EN EL LOS DISCOS */
.efectoSombra:hover {
	box-shadow: 4px 4px 12px #4da9ba;
}




/* COLOR DE LOS OL DE LA LISTA DE TEMAS */
.tab tr td ol li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #e02142;
}






/*     CONTACTO      */

section#contenedorFormulario {
	width: 100%;
	margin: 0 auto;
}


section#contenedorFormulario #imgPortadaContacto  {
	background-image: url(img/fotoRedHotDos.jpg);
	background-size: cover;
	width: 100%;
	padding-top: 18%;
	padding-bottom: 18%;
	margin: 0 auto 60px auto;
	text-align: center;
	position: relative;
}


 section#contenedorFormulario #imgPortadaContacto #txtTituloContacto {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;

	font-size: 150px;
	color: #f0d337;
	text-align: left;
	font-style: italic;

	position: absolute;
	bottom: 2%;
	left: 10%;
	z-index: 1000;
}


#formulario {
	width: 60%;
	padding: 50px;
	margin: 100px auto;
	background: #e02142;
}


input {
	width: 50%;
	padding: 10px;
}

input.botonEspecial {
	width: 130px;

}

.contContratacion {
	width: 80%;
	height: 30px;
	display: block;
	text-align: right;
}


footer {
	background: linear-gradient(to bottom, #f0d337, #4da9ba);

	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	text-align: center;

	/* ESTO ES LO Q ME MOVIA PARA LA IZQUIERDA TODO 
		padding: 20px; */
}

footer p.txtFooter {
	font-family: 'Monoton', cursive;
	font-size: 25px;
	letter-spacing: 2px;
	color: #e02142;
	text-align: center;
}

#limpiar {
	clear: both;
}


